**/.DS_Store
**/node_modules
**/__pycache__/
data/
env/
htmlcov/
uploads/
venv/
.venv/
.env
*.db
*.log
*.pyc
*.pyo
*.pyd
.idea/
.coverage
.kiro/
.Python
.vscode/

# Python build artifacts
*.egg-info/
uv.lock
dist/
build/
