# PostgreSQL
POSTGRES_USER=unishelf
POSTGRES_PASSWORD=unishelf_password
POSTGRES_DB=unishelf_db
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET_NAME=unishelf-uploads
MINIO_CONSOLE_URL=http://localhost:8000/minio-console

# App
DEBUG=1

# Grafana
GRAFANA_ADMIN_PASSWORD=admin
